# Google OAuth
GOOGLE_CLIENT_ID=786820590176-rc5k1j70k3vhi6v300itmd7srupsvb10.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# JWT Secret
JWT_SECRET=super-secret-key-for-dev

# Stripe
STRIPE_SECRET_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=
