# Google OAuth
GOOGLE_CLIENT_ID=786820590176-rc5k1j70k3vhi6v300itmd7srupsvb10.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# JWT Secret
JWT_SECRET=super-secret-key-for-dev

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Telegram
TELEGRAM_BOT_TOKEN=8143890371:AAFRofKTjW58zHmKLdCaf_F1vqNc4JVPrII
# Bot Name: @VitasMMAbot

# Telegram Mini Apps Analytics
VITE_TGANALYTICS_TOKEN=
VITE_TGANALYTICS_APP_NAME=

# Firebase
FIREBASE_SERVICE_ACCOUNT_KEY=

# Supabase
VITE_SUPABASE_URL=https://lekamxalmwntkalhfjtj.supabase.co
VITE_SUPABASE_ANON_KEY=

# App Configuration
APP_URL=
GEMINI_API_KEY=
VITE_TON_DESTINATION_ADDRESS=UQC2rrXgl2W5GhkSJ7lpoUAUXsBsDLNI4CXXUDqEdtCZ176T
COINMARKETCAP_API_KEY=25616edfb79f47f6bd69bef526fe2dc1
TONCENTER_API_KEY=ae3470afaa3ab6382374666749534db48daa1b0418938b5975bc53fa7f0cbb71
